{% extends 'base.html.twig' %}

{% block title %} Liste annonces {% endblock %}

{% block body %}
    <div class="section">

        <h1 class="title">Liste des Annonces</h1>

        {% include 'includes/flashes.html.twig' %}

        <a class="btn btn-info" href="{{ path('app_annonce_crud_new') }}">
            Créer une annonce
        </a>

        <div class="d-flex p-2">
        {% for annonce in liste_annonces %}
            <div class="card m-5" style="width: 18rem;">
                <img class="card-img-top" src="{{ asset('images/magic-photo.png') }}" alt="Card image cap">
                <div class="card-body">
                    <h5 class="card-title">{{ annonce.titre }}</h5>
                    <p class="card-text">{{ annonce.description }}</p>
                    <p>Date Création : {{ annonce.dateAnnonce is empty ? "" : annonce.dateAnnonce | date("d/m/Y") }}</p>
                    <a href="{{ path('annonce_candidature', {id:annonce.id}) }}" class="btn btn-primary">Offrir mes services</a>
                </div>
            </div>
        {% endfor %}
        </div>

    </div>
{% endblock %}
