{% extends 'base.html.twig' %}

{% block title %}Annonce{% endblock %}

{% block body %}
    <h1>Annonce</h1>

    <table class="table">
        <tbody>
            <tr>
                <th>Id</th>
                <td>{{ annonce.id }}</td>
            </tr>
            <tr>
                <th>Description</th>
                <td>{{ annonce.description }}</td>
            </tr>
            <tr>
                <th>DateAnnonce</th>
                <td>{{ annonce.dateAnnonce ? annonce.dateAnnonce|date('Y-m-d H:i:s') : '' }}</td>
            </tr>
        </tbody>
    </table>

    <a href="{{ path('app_annonce_crud_index') }}">back to list</a>

    <a href="{{ path('app_annonce_crud_edit', {'id': annonce.id}) }}">edit</a>

    {{ include('annonce_crud/_delete_form.html.twig') }}
{% endblock %}
